{% load static %}

<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
<div class="container">
    <div class="row g-5">
    <div class="col-lg-4 border-start" data-aos="fade-up">
        <div class="section-header d-flex justify-content-between align-items-center pb-0">
        <h6 style="margin-bottom: 2px"><span class="bgtext px-1">ویژه‌ها</span></h6>
        <div><a href="category.html" class="more">بیشتر ...</a></div>
        </div>
        <div class="post-entry-1 lg py-2">
        <a href="single-post.html"><img src="{% static 'img/post-landscape-1.jpg' %}" alt="" class="img-fluid"></a>
        <div class="post-meta">
            <i class="bi bi-calendar px-1"></i><span>شنبه، 3 شهریور 1402</span>
        </div>
        <h3><a href="single-post.html">اعتیاد اینترنتی چیست؟</a></h3>
        <p class="mb-1 d-block">این نوع اعتیاد، مشکلی در حال رشد و تسری و هدیه  قرن اطلاعات وپیامد دهکده جهانی شدن است</p>

        <div class="d-flex align-items-center text-start author pb-4">
            <div class="name">
            <h3 class="m-0 px-2">دکتر سکینه سلطانی کوهبانی</h3>
            </div>
            <div class="photo"><img src="{% static 'img/person-2.jpg' %}" alt="" class="img-fluid"></div>
        </div>
        </div>
        <div class="post-entry-1 lg py-2">
        <a href="single-post.html"><img src="{% static 'img/post-landscape-1.jpg' %}" alt="" class="img-fluid"></a>
        <div class="post-meta">
            <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
        </div>
        <h3><a href="single-post.html">چگونه کودکان پیش دبستانی را با محیط‌ زیست آشنا کنیم؟</a></h3>
        <p class="mb-1 d-block">آشنایی کودکان پیش‌دبستانی با محیط‌زیست باید بخش مهمی از آموزش کودک در این رده‌ی سنی باشد. شاید با خودتان فکر کنید کودک پیش‌دبستانی کوچک‌تر از آن است که بتواند درباره‌ی محیط‌زیست و حفاظت از آن چیزی یاد بگیرد. اما کاملاً برعکس است. اگر به بازی کردن کودکان در فضای باز دقت کرده باشید، متوجه می‌شوید که کودکان تمایلی ذاتی به برقراری ارتباط با طبیعت دارند. آن‌ها شیفته‌ی ابرهای آسمان، قاصدک‌ها و حشرات داخل خاک هستند.</p>

        <div class="d-flex align-items-center text-start author pb-4">
            <div class="name">
            <h3 class="m-0 px-2">پویا شیرازی</h3>
            </div>
            <div class="photo"><img src="{% static 'img/person-1.jpg' %}" alt="" class="img-fluid"></div>
        </div>
        </div>
        <div class="post-entry-1 lg py-2" >
        <a href="single-post.html"><img src="{% static 'img/post-landscape-1.jpg' %}" alt="" class="img-fluid"></a>
        <div class="post-meta">
            <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
        </div>
        <h3><a href="single-post.html">چگونه کودکان پیش دبستانی را با محیط‌ زیست آشنا کنیم؟</a></h3>
        <p class="mb-1 d-block">آشنایی کودکان پیش‌دبستانی با محیط‌زیست باید بخش مهمی از آموزش کودک در این رده‌ی سنی باشد. شاید با خودتان فکر کنید کودک پیش‌دبستانی کوچک‌تر از آن است که بتواند درباره‌ی محیط‌زیست و حفاظت از آن چیزی یاد بگیرد.</p>

        <div class="d-flex align-items-center text-start author pb-4">
            <div class="name">
            <h3 class="m-0 px-2">پویا شیرازی</h3>
            </div>
            <div class="photo"><img src="{% static 'img/person-1.jpg' %}" alt="" class="img-fluid"></div>
        </div>
        </div>




    </div>

    <div class="col-lg-8">
        <div class="row g-2" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center pb-0">
            <h6 style="margin-bottom: 2px"><span class="bgtext px-1">تازه‌های</span>   <span>آموزش خلاق</span></h6>
            <div><a href="category.html" class="more">بیشتر ...</a></div>
            </div>
        <div class="col-lg-4">
            <div class="post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
            <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">فناوری کوچک؛ پیش‌کُدگذاری ابتدایی برای کودکان پیش‌دبستانی</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
                            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">اهمیت داشتن سواد دیجیتال در کودکان</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">درباره‌ی‌ تفاوت‌های مهارت‌های دیجیتال و سواد دیجیتال و آموزش آن‌ها به کودکان و نوجوانان</a></h2>
            </div>
        </div>
        </div>
        <div class="row g-2" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center pb-0">
            <h6 style="margin-bottom: 2px"><span class="bgtext px-1">تازه‌های</span>   <span>روانشناسی کودک و نوجوان</span></h6>
            <div><a href="category.html" class="more">بیشتر ...</a></div>
            </div>
        <div class="col-lg-4">
            <div class="post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
            <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">فناوری کوچک؛ پیش‌کُدگذاری ابتدایی برای کودکان پیش‌دبستانی</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
                            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">اهمیت داشتن سواد دیجیتال در کودکان</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">درباره‌ی‌ تفاوت‌های مهارت‌های دیجیتال و سواد دیجیتال و آموزش آن‌ها به کودکان و نوجوانان</a></h2>
            </div>
        </div>
        </div>
        <div class="row g-2" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center pb-0">
            <h6 style="margin-bottom: 2px"><span class="bgtext px-1">تازه‌های</span>   <span>کودک و زندگی</span></h6>
            <div><a href="category.html" class="more">بیشتر ...</a></div>
            </div>
        <div class="col-lg-4">
            <div class="post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
            <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">فناوری کوچک؛ پیش‌کُدگذاری ابتدایی برای کودکان پیش‌دبستانی</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
                            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">اهمیت داشتن سواد دیجیتال در کودکان</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">درباره‌ی‌ تفاوت‌های مهارت‌های دیجیتال و سواد دیجیتال و آموزش آن‌ها به کودکان و نوجوانان</a></h2>
            </div>
        </div>
        </div>
        <div class="row g-2" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center pb-0">
            <h6 style="margin-bottom: 2px"><span class="bgtext px-1">تازه‌های</span>   <span>معرفی اسباب بازی‌ها</span></h6>
            <div><a href="category.html" class="more">بیشتر ...</a></div>
            </div>
        <div class="col-lg-4">
            <div class="post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
            <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">فناوری کوچک؛ پیش‌کُدگذاری ابتدایی برای کودکان پیش‌دبستانی</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
                            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">اهمیت داشتن سواد دیجیتال در کودکان</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">درباره‌ی‌ تفاوت‌های مهارت‌های دیجیتال و سواد دیجیتال و آموزش آن‌ها به کودکان و نوجوانان</a></h2>
            </div>
        </div>
        </div>
        <div class="row g-2" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center pb-0">
            <h6 style="margin-bottom: 2px"><span class="bgtext px-1">تازه‌های</span>   <span>سامانه آموزش آنلاین</span></h6>
            <div><a href="category.html" class="more">بیشتر ...</a></div>
            </div>
        <div class="col-lg-4">
            <div class="post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-2.jpg' %}" alt="" class="img-fluid"></a>
            <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">فناوری کوچک؛ پیش‌کُدگذاری ابتدایی برای کودکان پیش‌دبستانی</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
                            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">اهمیت داشتن سواد دیجیتال در کودکان</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row post-entry-1">
            <a href="single-post.html"><img src="{% static 'img/post-landscape-6.jpg' %}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                <i class="bi bi-person-fill px-1"></i><span class="date"></i>مریم احمدی</span>
                <span class="mx-1"></span>
                <i class="bi bi-calendar px-1"></i><span>سه‌شنبه، 25 مرداد 1402</span>
            </div>
            <h2><a href="single-post.html">درباره‌ی‌ تفاوت‌های مهارت‌های دیجیتال و سواد دیجیتال و آموزش آن‌ها به کودکان و نوجوانان</a></h2>
            </div>
        </div>
        </div>
    </div>

    </div> <!-- End .row -->
</div>
</section> <!-- End Post Grid Section -->