{% load static %}

<!-- ======= Hero Slider Section ======= -->
<section id="hero-slider" class="hero-slider">
<div class="container-md" data-aos="fade-in">
    <div class="row">
    <div class="col-12">
        <div class="swiper sliderFeaturedPosts">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url({% static 'img/post-landscape-1.jpg' %});">
                <div class="img-bg-inner">
                <h3>اعتیاد اینترنتی چیست؟</h3>
                <p>این نوع اعتیاد، مشکلی در حال رشد و تسری و هدیه  قرن اطلاعات وپیامد دهکده جهانی شدن است</p>
                </div>
            </a>
            </div>

            <div class="swiper-slide">
            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url({% static 'img/post-slide-2.jpg' %});">
                <div class="img-bg-inner">
                <h3>فعالیت هایی برای آشنایی کودکان پیش ‌دبستانی با محیط ‌زیست + کاربرگ</h3>
                <p>ما پیش‌تر در مقاله‌ی آشنایی و آموزش درباره‌ی محیط‌زیست به کودکان پیش‌دبستانی به چگونگی تقویت آگاهی کودک درباره‌ی محیط‌زیست و چرایی اهمیت آن پرداختیم. در این مقاله قصد داریم فعالیت‌هایی را بررسی کنیم که به کودکان پیش‌دبستانی کمک می‌کنند تا بیشتر دوستدار محیط‌زیست باشند.</p>
                </div>
            </a>
            </div>

        </div>
        <div class="custom-swiper-button-next">
            <span class="bi-chevron-right"></span>
        </div>
        <div class="custom-swiper-button-prev">
            <span class="bi-chevron-left"></span>
        </div>

        <div class="swiper-pagination"></div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- End Hero Slider Section -->