{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-tofa-pull-right">
<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'home:home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
    </a>

    <nav id="navbar" class="navbar">
    <ul>
        <li><a href="{% url 'home:home' %}">خانه</a></li>
        {% for cat in categories %}        
            {% if cat.parent == None %}
                <li class="dropdown">
                    <a href="{% url 'posts:category' cat.slug %}"><span>{{ cat.title }}</span> <i class="bi bi-chevron-down dropdown-indicator px-1"></i></a>
                    {% if cat.children.active %}
                        {% include 'inc/category_loop.html' %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

    </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
        {% comment %} <a href="#" class="mx-2" data-toggle="tooltip" data-placement="top" title="تماس با ما"><span class="bi bi-telephone-fill"></span></a> {% endcomment %}
        {% comment %} <a href="#" class="mx-2"><span class="bi bi-telegram"></span></a>
        <a href="#" class="mx-2"><span class="bi bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi bi-instagram"></span></a>
        <a href="#" class="mx-2"><span class="bi bi-youtube"></span></a> {% endcomment %}

        
        {% comment %} <a href="/search/" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
            <form action="/search/" class="search-form">
                <span class="icon bi-search"></span>
                <input type="text" placeholder="جستجو ..." class="form-control">
                <button class="btn js-search-close"><span class="bi-x"></span></button>
            </form>
        </div><!-- End Search Form --> {% endcomment %}
        
    </div>
    <div class="form-inline d-inline d-flex align-items-center align-self-center">
<a href="{% url 'dashboard:home' %}" class="mx-2" data-toggle="tooltip" data-placement="top" title="داشبورد مدیریتی"><span class="bi bi-speedometer"></span></a>
    <form action="{% url 'posts:search' %}" >
        <input name="q" class="form-control mr-sm-2" type="search" placeholder="جستجو ...">
    </form>
    
</div>
</div>

</header><!-- End Header -->