{% extends 'base.html' %}
{% load base_tags %}

{% block content %}
  <main id="main">
    <section class="single-post-content">
      <div class="container-fluid">
        <div class="row">
          <!-- Start Single Post Content -->
          <div class="col-md-9 post-content" data-aos="fade-up">
            <div class="single-post">
              <div class="post-meta">
                {% url 'posts:author' object.author as author_url %}
                {% show_name_date author_url object.author.get_full_name object.jpublish %}
              </div>
              <h3 class="mb-3">
                {{ object.title }}
                {% if object.is_special %}
                  {% special_badge %}
                {% endif %}
              </h3>
              <img src="{{ object.thumbnail.url }}" alt="{{ object.title }}" class="img-fluid">
              <p>{{ object.body|safe }}</p>
            </div>
            <!-- End Single Post Content -->
            <!-- Start Single Post Comments -->
            {% include "posts/inc/comments.html" %}
            <!-- End Single Post Comments -->
            <!-- Start Single Post Comment Form -->
            {% include "posts/inc/comment_form.html" %}
            <!-- End Single Post Comment Form -->
          </div>
          <!-- Start Sidebar -->
          <div class="col-md-3">
            {% include "posts/inc/sidebar.html" %}
          </div>
          <!-- End Sidebar -->
        </div>
      </div>
    </section>
  </main>
{% endblock %}


