{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    صفحه کاربری
{% endblock title %}

{% block content %}


<div class="card card-success m-auto w-100">
    <div class="card-header">
        <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
    </div>
    <div class="card-body py-3">
        <p>
            گذرواژه با موفقیت تغییر پیدا کرد!
        </p>
        <a class="btn btn-info" href="{% url 'dashboard:profile' %}">بازگشت به صفحه پروفایل</a>
     </div>
</div>

{% endblock content %}

