{% load i18n %}
{% autoescape off %}

{% blocktranslate %}
    شما این ایمیل را دریافت کرده اید زیرا درخواست تغییر پسورد برای حساب کاربری خود را در {{ site_name }} ارسال کرده اید.
{% endblocktranslate %}

{% translate "لطفا به صفحه زیر رفته و پسورد جدیدی برای خود انتخاب کنید:" %}

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate 'نام کاربری شما:' %} {{ user.get_username }}
    
{% translate 'این لینک فقط به مدت یک ساعت معتبر است.' %}
    
{% translate 'با تشکر از شما که از سایت ما استفاده می کنید.' %}
    
{% translate 'با احترام' %}
    
{{ site_name }} {% translate 'تیم' %}
        
{% translate 'این ایمیل به صورت خودکار ارسال شده است، لطفا به آن پاسخ ندهید.' %}

{% endautoescape %}
