{% extends 'account/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block styleBody %}
    class="hold-transition login-page"
{% endblock styleBody %}

{% block content %}


<div class="login-box">
  <div class="card card-outline card-primary">


    <div class="card-header text-center">
        <a href="/" class="logo">
          <img src="{% static 'img/logo - primary.png' %}" width="250">
        </a>
    </div>
    <div class="card-body">
        {% if form.non_field_errors %}
          <div class="text-center alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      <p class="login-box-msg">بازیابی گذرواژه</p>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if validlink %}
          <div class="input-group mb-1">
            {{ form.new_password1|add_class:"form-control text-center"|attr:"placeholder:گذرواژه" }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          {% if form.new_password1.errors %}
            <div class="text-center text-danger small pt-0" role="alert">
              {% for error in form.new_password1.errors %}
                  <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
            <div class="input-group mb-1">
              {{ form.new_password2|add_class:"form-control text-center"|attr:"placeholder:تایید گذرواژه" }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            {% if form.new_password2.errors %}
              <div class="text-center text-danger small pt-0" role="alert">
                {% for error in form.new_password2.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block text-center">اعمال</button>
            </div>
            <!-- /.col -->
          </div>
        {% else %}
        <p class="text-danger text-center">لینک منقضی شده است.</p>
        {% endif %}

      </form>
      <div class="card-footer border mt-3">
        <p class=" mb-1 mr-2">
          <a href="{% url 'account:password_reset' %}">بازیابی گذرواژه</a>
        </p>
        <p class=" mb-1 mr-2">
          <a href="{% url 'account:login' %}">ورود</a>
        </p>
        <p class="mb-0 mr-2">
          <a href="{% url 'account:register' %}" class="text-center">ایجاد حساب کاربری جدید</a>
        </p>
    </div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>


{% endblock content %}