{% load static %}
{% load base_tags %}

<div class="aside-block">

    <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">محبوب‌ترین‌ها</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">تازه‌ها</button>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">

        <!-- Start Popular -->
        <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
            {% for p in all_posts|slice:":10" %}
            <div class="post-entry-1 border-bottom">
                <div class="post-meta">
                    {% url 'posts:author' p.author as author_url %}
                    {% show_name_date author_url p.author.get_full_name p.jpublish %}
                </div>
                <h2 class="mb-2"><a href="#">{{ p.title }}</a></h2>
            </div>
            {% endfor %}
        </div> 
        <!-- End Popular -->

        <!-- Start Latest -->
        <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
            {% for post in all_posts %}
            <div class="post-entry-1 border-bottom">
                <div class="post-meta">
                    {% show_name_date_category 'پویا' post.jpublish post.category.all %}
                </div>
                <h2 class="mb-2"><a href="#">{{ p.title }}</a></h2>
            </div>
            {% endfor %}
        </div>
        <!-- End Latest -->
    </div>
</div>