{% load static %}
{% load base_tags %}
{% load humanize %}

<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
<div class="container">
    <div class="row g-5">

        <div class="col-lg-4 border-end" data-aos="fade-up">
            
            <div class="section-header d-flex justify-content-between align-items-center pb-0">
                <h6 style="margin-bottom: 2px"><span class="bgtext px-1">ویژه‌ها</span></h6>
                <div><a href="{% url 'posts:special' %}" class="more">بیشتر ...</a></div>
            </div>
            {% for ps in postsSpecial|slice:":2" %}
                <div class="post-entry-1 lg py-2">
                    <div class="post-meta">
                        {% show_date ps.publish|naturaltime %}
                    </div>
                    <h5>
                        <a href="{% url 'posts:post' ps.slug %}">{{ ps.title }} </a>
                        {% if ps.is_special %}
                            {% special_badge %}
                        {% endif %}
                    </h5>
                    <p class="mb-1 d-block">{{ ps.body|safe|truncatewords:"30" }}</p>
                    <div class="d-flex align-items-center text-start author pb-4">
                        <div class="name">
                            {% url 'posts:author' ps.author as author_url %}
                            {% show_name author_url ps.author.get_full_name %}
                        </div>
                        <div class="photo"><img src={{ ps.author.avatar.url }} alt="" class="img-fluid"></div>
                    </div>
                    <a href="{% url 'posts:post' ps.slug %}"><img src={{ ps.thumbnail.url }} alt="" class="img-fluid"></a>
                </div>
            {% endfor %}
            
        </div>  

        <div class="col-lg-8" data-aos="fade-up">

            {% for cat in categories %}        
                {% if cat.parent == None and cat.number_of_posts != 0 %}
                    <div class="row g-2" >
                        <div class="section-header d-flex justify-content-between align-items-center pb-0">
                            <h6 style="margin-bottom: 2px"><span class="bgtext px-1">تازه‌های</span>   <span>{{ cat.title }}</span></h6>
                            <div><a href="{% url 'posts:category' cat.slug %}" class="more">بیشتر ...</a></div>
                        </div>
                        {% for post in cat.posts.all|slice:":3" %}
                            {% if post.status == 'p' %}
                                <div class="col-lg-4">
                                    <div class="post-entry-1">
                                        <a href="{% url 'posts:post' post.slug %}"><img src={{ post.thumbnail.url }} alt="" class="img-fluid"></a>
                                        <div class="post-meta">
                                            {% url 'posts:author' post.author as author_url %}
                                            {% show_name_date author_url post.author.get_full_name post.publish|naturaltime %}
                                        </div>
                                        <h2>
                                            <a href="{% url 'posts:post' post.slug %}">{{ post.title }}</a>
                                            {% if post.is_special %}
                                                {% special_badge %}
                                            {% endif %}
                                        </h2>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% endif %}
            {% endfor %}

        </div>

    </div> <!-- End .row -->
</div>
</section> <!-- End Post Grid Section -->