{% load static %}
{% load base_tags %}
{% load humanize %}

<section id="hero-slider" class="hero-slider">
  <div class="container-md" data-aos="fade-in">
    <div class="row">
      <div class="col-12">
        <div class="swiper sliderFeaturedPosts">
          <div class="swiper-wrapper">
            {% for post in posts|slice:":4" %}
                <div class="swiper-slide">
                <a href="{% url 'posts:post' post.slug %}" class="img-bg d-flex align-items-end" style="background-image: url({{ post.thumbnail.url }});" >
                    <div class="img-bg-inner">
                        <h3>
                          {{ post.title }}
                          {% if post.is_special %}
                            {% special_badge %}
                          {% endif %}
                        </h3>
                        <p>{{ post.body|safe|striptags|truncatewords:20 }}</p>
                    </div>
                </a>
                </div>
            {% endfor %}
          </div>
          <div class="custom-swiper-button-next">
            <span class="bi-chevron-right"></span>
          </div>
          <div class="custom-swiper-button-prev">
            <span class="bi-chevron-left"></span>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
